.balance {
    width: 500px;
    margin: 0 auto;
    
    .back-home{
        display: flex;
        justify-content: center;
        margin: 20px;
    }

    .header{
        display: flex;
        justify-content: center;
        margin: 20px;
    }

    .update {
        display: flex;
        justify-content: center;
        .add {
            margin: 5px;
        }
        .remove {
            margin: 5px;
        }
        .number {
            margin: 5px;
        }
    }
}